<%= form_with(model: payment_instrument, local: true) do |form| %>
  <% if payment_instrument.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(payment_instrument.errors.count, "error") %> prohibited this payment_instrument from being saved:</h2>

      <ul>
        <% payment_instrument.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :instrument_type %>
    <%= form.select :instrument_type, ["Credit Card"] %>
  </div>

  <div class="field">
    <%= form.label :credit_card_number %>
    <%= form.text_field :creadit_card_number %>
  </div>

  <div class="field">
    <%= form.label :client_id %>
    <%= form.select :client_id, %w[] %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
